.imageGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .imageGallery li .imageCard {
    width: 200px;
  }
  
  .imageGallery li .imageCard img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .imageGallery li .imageCard p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
  }