.container {
  position: fixed;
  top: 0;
  left: 250%;
}
.img {
  border-radius: 6px;
}
.likes {
  color: rgb(249, 248, 252);
  font-size: 28px;;
  font-weight: 700;
  position: relative;
  top: 38px;
  left: 10px;
}
.closeBtn {
  position: relative;
  background-color: #646cff;
  top: 38px;
  left: 0px;
}
